 h1 {
     text-align: center;
     

 }

 h2 {
     text-align: center;
 }

 p {
     text-align: center;

 }

 


 body {
     font-family: sans-serif;
     padding-left: 10%;
     padding-right: 10%;
     background: url(https://i.ibb.co/xzyZrnH/1nio1.jpg) no-repeat;


 }

 text {
     display: block;
     text-align: center;
     size: 50px;
     color: rgb(228, 215, 215);
 }

 textarea {
     display: block;
     margin: auto;
}

 .btn {

     border-radius: 1.25 0.25;
        margin-left: auto;
            margin-right: auto;
 }
 

 .ul {
     list-style-type: none;
     margin: 0%;
     padding: 25px;
     text-align: center;
     padding-left: 40%;
     padding-right: 40%;
 }

 li {
     text-align: center;
     display: inline;


 }

 li a {
     color: rgb(23, 1, 1);
     padding: 30px 50px;
     text-decoration: none;
     text-align: center;
  }

 h4 {
    position: fixed;
        left: 0.25;
        bottom: 0;
        width: auto;
        
      
 }
